body {
    font-family: Arial, sans-serif;
}

.hero {
    background-image: url('../image/backgroundearth.png');
    background-size: cover;
    /* Cover ensures the background image covers the entire section */
    background-position: center;
    /* Centers the background image */
    color: #fff;
    /* Sets text color to white for contrast */
    padding: 100px 0;
    /* Adjust padding as needed to separate text from edges */
    height: 100vh;
    /* Adjust the height of the hero section as needed */
}

.hero h1 {
    color: #4CAF50;
    font-size: 48px;
}

.hero p {
    color: #666;
    font-size: 18px;
    line-height: 1.6;
}

.mission-vision {
    background-color: #fff;
}

.mission-vision h2 {
    color: #4CAF50;
    font-size: 32px;
}

.services {
    background-color: #8FA272;
}

.services h2 {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.services p {
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
}

.service-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20%;
}
.service-card p{
    color: black;
    font-size: 14px;
}

.service-img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: -33%;
}
.key-strength {
    background-color: #fff;
}

.key-strength h2 {
    color: #4CAF50;
    font-size: 32px;
}

.key-strength h3 {
    color: #4CAF50;
    font-size: 24px;
}

.key-strength p {
    color: #666;
    font-size: 18px;
    line-height: 1.6;
}

.events-workshops {
    background-color: #F0F7E4;
}

.event-card {
    border-radius: 10px;
}

footer {
    background-color: #A3C875;
    padding: 20px;
    text-align: center;
    color: white;
}
